/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}

#scroll{
  height: 300px;
  padding-right: 10px;
  overflow-y: scroll;
}
#scroll::-webkit-scrollbar-thumb{
background-color:#B03C3F;
border-radius:10px;
}
#scroll::-webkit-scrollbar-thumb:hover{
background-color:#BF4649;
border:1px solid #333333;
}
#scroll::-webkit-scrollbar-thumb:active{
background-color:#A6393D;
border:1px solid #333333;
}
