/* Space out content a bit */
body
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


/* Customize container */
@media (min-width: 48em)
{
    .container
    {
        max-width: 46rem;
    }
}


/* Main marketing message and sign up button */
.jumbotron
{
    text-align: center;

    border-bottom: .05rem solid #e5e5e5;
}

#scroll
{
    overflow-y: scroll;

    height: 300px;
    padding-right: 10px;
}
#scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #b03c3f;
}
#scroll::-webkit-scrollbar-thumb:hover
{
    border: 1px solid #333;
    background-color: #bf4649;
}
#scroll::-webkit-scrollbar-thumb:active
{
    border: 1px solid #333;
    background-color: #a6393d;
}
