{% extends 'partials/_master.twig' %}

{% setcontent record = 'blocks/404-not-found' %}

{% block title %}
    {{ record.title|default('404 not found') }}
{% endblock title %}

{% block main %}

<div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{{ record.title|default('404 not found') }}</h1>

            {% if fields(record) %}
                {{ fields(record) }}
            {% else %}
                <p>
                    The requested page was not found.
                </p>
            {% endif %}
      </div>
    </div>
</div>

{% endblock main %}
